header {
    .navbar {
        .navbar-brand {
            width: 100%;
            max-width: 120px;
        }

        .loginBtn{
            border-radius: 15px;
            background-color: rgb(206, 0, 0)!important;

        }
    }

    .header{
        background-color:#0474dd ;
    }

}

