body {

    .main-section {

        .coverTopPart {
            padding-top: 42px !important;
            margin-top: -53px !important;
        }

        .dateSize {
            font-size: 12px !important;
        }

        .questionContent {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 20px !important;
            line-clamp: 2;
            
        }

        .stickyContent {

            z-index: 2;

            .postQuestionBtn {
                border-radius: 25px;
            }

            .searchResult {
                text-indent: 15px;
                font-weight: normal;
            }

            .searchInput {
                border-radius: 30px 5px 5px 30px !important;
            }

            .searchBtn {
                border-radius: 5px 30px 30px 5px !important;
            }
        }

        .questionList {

            padding-top: 200px;
            margin-left: 50px;
            margin-right: 50px;
            z-index: -1;

            .card {
                border-radius: 20px;
                background-color: rgb(238, 238, 238);

                &:hover {
                    background-color: rgb(211, 211, 211) !important;
                }
            }
        }

        .answerList {

            padding-top: 140px;
            margin-left: 50px;
            margin-right: 50px;


            .card {
                border-radius: 20px;
                background-color: rgb(238, 238, 238);

            }
        }

        .postAnswerBtn {
            border-radius: 20px;
        }


    }

    .bottomLink {
        .fa-whatsapp {
            color: white;
            transition: all 0.3s;

            &:hover {
                padding: 4px;
                padding-top: 0px;
                ;
                color: #25d366;
            }
        }

        .fa-facebook {
            color: white;
            transition: all 0.3s;

            &:hover {
                padding: 4px;
                color: #4267b2;
            }
        }

        .fa-twitter {
            color: white;
            transition: all 0.3s;

            &:hover {
                padding: 4px;
                color: #1da1f2;
            }
        }

        .fa-instagram {
            color: white;
            transition: all 0.3s;

            &:hover {
                padding: 4px;
                color: transparent;
                background: radial-gradient(circle at 30% 107%,
                        #fdf497 0%,
                        #fdf497 5%,
                        #fd5949 45%,
                        #d6249f 60%,
                        #285aeb 90%);
                background: -webkit-radial-gradient(circle at 30% 107%,
                        #fdf497 0%,
                        #fdf497 5%,
                        #fd5949 45%,
                        #d6249f 60%,
                        #285aeb 90%);
                background-clip: text;
                -webkit-background-clip: text;
            }
        }
    }
}