@import '_header';
@import '_main-section';

@media (max-width: 576px) {
    .textBreak {
        display: none;
    }

    .iconBreak {
        display: inline-block;
    }


    .main-section {
        padding-top: 150px;
        padding-bottom: 30px;


        .navbar {
            .navbar-brand {
                max-width: 60px !important;
            }
        }
    }
}

@media (min-width: 576px) {

    .textBreak {
        display: none;
    }

    .iconBreak {
        display: inline-block;
    }

    .main-section {
        padding-top: 150px;
        padding-bottom: 30px;



        .navbar {
            .navbar-brand {
                max-width: 80px !important;
            }
        }
    }
}

@media (min-width: 768px) {
    .textBreak {
        display: inline-block;
    }

    .iconBreak {
        display: none;

    }

    .main-section {
        padding-top: 190px;
        padding-bottom: 80px;

        .navbar {
            .navbar-brand {
                max-width: 90px !important;
            }
        }
    }
}

@media (min-width: 992px) {

    .textBreak {

        display: inline-block;
    }

    .iconBreak {
        display: none;

    }

    .main-section {
        padding-top: 160px;
        padding-bottom: 50px;



        .navbar {
            .navbar-brand {
                max-width: 110px !important;
            }
        }

    }

}

@media (min-width: 1200px) {

    .textBreak {

        display: inline-block;
    }

    .iconBreak {
        display: none;

    }


    .main-section {
        padding-top: 180px;
        padding-bottom: 50px;


        .navbar {
            .navbar-brand {
                max-width: 120px !important;
            }
        }
    }
}